<?xml version="1.0"?>
<launch>

  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find magician_description)/urdf/magician.urdf.xacro'" />
  <rosparam file="$(find magician_hardware)/config/magician_arm_controllers.yaml" command="load"/>
    
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
<!--
    <param name="publish_frequency" type="double" value="50.0" />
    <param name="tf_prefix" type="string" value="" />
-->
  </node>
   
  <node name="magician_hardware_node" pkg="magician_hardware" type="magician_hardware_node" args="ttyUSB0 noHomeing" output="screen"/>
  
<!--
  <rosparam file="$(find magician_hardware)/config/joint_state_controller.yaml" command="load"/>
-->
  <node name="joint_state_controller_spawner" pkg="controller_manager" type="controller_manager" args="spawn /MagicianHWInterface/joint_state_controller" respawn="false" output="screen"/>
<!--
    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen"
        args="
            /MagicianHWInterface/joint_state_controller
            /MagicianHWInterface/magician_arm_controller
        "/> 
-->
<!--
  <rosparam file="$(find magician_hardware)/config/magician_arm_controllers.yaml" command="load"/>
  -->
  <node name="elfin_arm_controller_spawner" pkg="controller_manager" type="controller_manager" args="spawn /MagicianHWInterface/magician_arm_controller" respawn="false" output="screen"/>

</launch>
