<?xml version="1.0"?>
<launch>

  <arg name="sim" default="false" />
  <arg name="limited" default="false"/>
  <arg name="debug" default="false" />
    
    
  <!-- Remap follow_joint_trajectory -->
  <remap if="$(arg sim)" from="/follow_joint_trajectory" to="/magician_arm_controller/follow_joint_trajectory"/>
  
  
<!--
 The planning and execution components of MoveIt! configured to 
 publish the current configuration of the robot (simulated or real)
 and the current state of the world as seen by the planner
-->
  
 <include file="$(find magician_moveit_config)/launch/move_group.launch">
    <arg name="debug" default="$(arg debug)" />
 </include>
 
 <!-- The visualization component of MoveIt! -->
 <arg name="display" default="true"/>
 <include file="$(find magician_moveit_config)/launch/moveit_realworld_rviz.launch" if="$(arg display)">
   <arg name="config" value="true"/>
 </include>
 
</launch>
